.gradle
/build/
.idea
.directory

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/viikko2/Verkkokauppa1/build/
/viikko2/RiippuvuuksienInjektointiSpring/build/
/viikko3/HelloCucumber/build/
/viikko3/LoginCucumber/build/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Verkkokauppa/build/
/viikko4/Tennis/build/
/viikko6/QueryLanguage/build/
/viikko7/KiviPaperiSakset/build/